.footer__column-link {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.footer__column-link:hover {
  opacity: 0.6;
}
