.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  align-self: flex-end;
  margin: 0 auto;
  display: inline-block;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
}
