/*@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}----------*/

/*------------------Метод Фейнмана-----------------*/
.feynman {
  min-height: 890px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
}
.feynman__title {
  display: block;
  width: 648px;
  margin: 100px auto 0px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 3;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  text-align: center;
  margin: 70px auto 0;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 48px;
}
.feynman__portrait {
  height: 637px;
  width: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/*--------------Кауфман-------------------*/

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.section-title_theme_dark {
  color: white;
  margin: 0 auto;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  margin: 20px auto 0;
  z-index: 2;
}
.table__cell_theme_dark {
  color: white;
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}
.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

/*-----------Footer-----------*/
.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}
.footer__column_content_info {
  justify-content: flex-start;
}
.footer__column_content_social {
  justify-content: flex-start;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 16px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
