/*@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}----------*/

/*-----------Footer-----------*/
.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}
.footer__column_content_info {
  justify-content: flex-start;
}
.footer__column_content_social {
  justify-content: flex-start;
}
.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.footer__column-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 16px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
