.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.khan__buy-link:hover {
  opacity: 0.6;
}
